div.jumbotron {
    height: 500; 
    clear: "both"; 
    padding-top: 50; 
    text-align: center;
    background-image: url('bookshelf_image.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    }

